<!DOCTYPE html>
<html lang="ja">
<head>

    <title>備品管理システム_ログイン</title>
    
</head>
<body>
    <center>
    <div class="container">
         <h1>備品管理システム</h1>
         <h2>ログイン</h2>
       <form method="post" action="/login">
         <label for="username">学籍番号:</label>
         <input type="text" id="username" name="username" required><br><br>

         <label for="password">パスワード:</label>
         <input type="password" id="password" name="password" required><br><br>

      <button type="submit">ログイン</button>
     </form>
     
    </div>     
    </center>
        
</body>
</html>
